asttokens==2.2.1
backcall==0.2.0
carla==0.9.14
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
easydict==1.10
executing==1.2.0
filelock==3.12.2
fonttools==4.42.0
idna==3.4
importlib-resources==6.0.1
ipdb==0.13.13
ipython==8.12.2
jedi==0.19.0
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mpmath==1.3.0
munkres==1.1.4
networkx==3.1
numpy==1.24.4
opencv-python==4.8.0.74
packaging==23.1
pandas==2.0.3
parso==0.8.3
pascal-voc-writer==0.1.4
pickleshare==0.7.5
Pillow==10.0.0
prompt-toolkit==3.0.39
psutil==5.9.5
pure-eval==0.2.2
py-cpuinfo==9.0.0
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
stack-data==0.6.2
sympy==1.12
tomli==2.0.1
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.2
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
ultralytics==8.0.150
urllib3==2.0.4
wcwidth==0.2.6
zipp==3.16.2
munkres==1.1.4
